*{
    margin: 0;
    padding: 0;
}

header {   
    border-bottom: 1px solid black; /* genera el borde inferior con grosor de 1px
                                        y de color negro */
    padding: 15px;
}

.container {
    display: grid;  
    justify-content: center; /* alinea horizontalmente */
    font-family: monospace;
    margin-top: 96px;
}

.text {
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.text :nth-child(2) {
    display: inline-block;
    width: 385px;
    height: 50px;
    margin-top: 25px;
    color: #797979;
    align-items: center;
}
.div_input p {
    font-size: 20px; /* tamanio de la fuente*/
    font-weight: bold;
    margin-top: 19px;
    margin-bottom: 9px; /* da un margen inferior con respecto al input*/
}

.div_input input{
    height: 60px; 
    width: 430px;
    border-radius: 12px; /* borde semiredondo*/
    font-size: 20px;
    background-color: #D9D9D9;
    border: none; /* quita el borde del input*/
}

/* .div_input ::placeholder{
    color: #797979;
    padding-left: 11px;
} */

.input {
    padding-left: 11px;
}

/* .input:active {
    border-color: red;
} */

/* .input:active {
    box-shadow: 2px 2px 15px red inset;
    border: 3px solid blueviolet;
} */

.input:focus{
    border: 6px solid red;
    outline: none;
}

.submit_container input{
    margin-top: 71px;
    height: 80px;
    width: 430px;
    border-radius: 12px;
    background-color:  rgba(0, 149, 29, 0.61); 
    font-size: 25px;
    color: #FFFF;
    font-weight: bold;
    border: none;
}