<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/style.css">
    <title>Tolitamal</title>
</head>
<body>
    <div class="logo">
        <header><a href="../index.html"><img src="../img/logo.png" alt="logo_tolitamal" class="logo_empresa"></a></header>
    </div>
    <section>
        <div class="section--container">
            <form action="../View/send_email.html">
                <div class="section--text">
                    <p>Password recovery</p>
                    <p class="paragraph">Input the email used to reset your password</p>
                </div>
                <div class="section--input">
                    <p>Email address</p>
                    <input type="email" class="input" placeholder="user@example.com" required>
                </div>
                <div class="section--submit  section--send-pwd">
                    <input type="submit" name="send_reset_pwd" value="SEND">
                </div>
            </form>
        </div>
    </section>
</body>
<!-- css en el input para placeholder y sombra -->
</html>