<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/style.css">
    <title>Tolitamal</title>
</head>
<body>
    <div class="logo">
        <header><a href="../index.html"><img src="../img/logo.png" alt="logo_tolitamal" class="logo_empresa"></a></header>
    </div>
    <section>
        <div class="section--container">
            <form action="./login.html">
                <div class="section--text">
                    <p>Email has been sent!</p>
                    <p class="section--text-2">Please check your inbox for instructions on how to reset the password</p>
                    <div class="section--icon">
                        <img src="../img/Oval.png" class="section--icon-oval" alt="ovalo">
                        <img src="../img/icon.png" class="section--icon-mail" alt="icon_mail">
                    </div>
                    <!-- <p>Please check your inbox for instructions on how to reset the password</p> -->
                </div>
                <div class="section--submit">
                    <input type="submit" name="send_reset_pwd" value="LOGIN">
                    <p>Didn't receive the email?<a href="#"> Resend</a></p>
                </div>

            </form>
        </div>
    </section>
</body>
</html>